# OpenAI API key should be stored here. Do not commit this file to version control.
OPENAI_API_KEY=your_openai_api_key_here

# Gemini API key should be stored here. Do not commit this file to version control.
GEMINI_API_KEY=your_gemini_api_key_here

langsmith_api_key=your_langsmith_api_key_here